@use '../../styles/index' as *;

.CardServices {
    position: relative;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

        .CardServicesContent {
            opacity: 1;
            transform: translateY(0);
        }

        .CardServicesImage {
            transform: scale(1.05);
        }
    }

    .CardServicesImage {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .CardServicesContent {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: $white;
        text-align: center;
        padding: 1rem;
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 0;
        transform: translateY(20px);

        .CardServicesDuration,
        .CardServicesPrice {
            font-size: 1.6rem;
            font-weight: bold;
            margin: 0.5rem 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
    }
}