@use '../../styles/index' as *;

.CardGalerie {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 calc(33.333% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    .CardGalerieImage {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 1rem;
    }
}