// Variables
$bg-color: #F4F1E8;
$primary-color: #BC6C25;
$secondary-color: #283618;
$highlight-color: #DDA15E;
$black: #000000;
$white: #ffffff;

$primary-font-size: 2.5rem;
$secondary-font-size: 1.8rem;
$tertiary-font-size: 1.5rem;
$quaternary-font-size: 1rem;

$error-font-size: 50px;

$primary-font-weight: bold;

$secondary-font: "Radley", sans-serif;

// Global reset and box-sizing
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Root Styles
:root {
  font-family: "Raleway", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $bg-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Body Styles
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;  // Prevent horizontal overflow
}

// Main Content
main {
  margin: 0;
  width: 100%; // Ensure the content takes up full width
}
