@use '../../styles/index' as *;

.typeServicesPage {
    margin-bottom: 2rem;

    .typeServicesPageTitle {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $black;
    }

    .typeServicesPageText {
        font-size: 1.2rem;
        line-height: 1.6;
        color: $black;
        margin-bottom: 1rem;
    }

}