@use '../../styles/index' as *;

.presentationMainPage {
    padding: 2rem;

    .presentationMainPageTitle {
        font-size: 1.2rem;
        line-height: 1.6;
        color: $black;
    }
}

.servicesMainPage {
    padding: 2rem;

    .servicesMainPageTitle {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $black;
    }

    .servicesMainPageContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .servicesMainPageCard {
            background-color: $primary-color;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.745);
            overflow: hidden;
            flex: 1 1 calc(33.333% - 2rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1rem;
            

            .servicesImage {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            .servicesMainPageCardTitle {
                font-size: 1.5rem;
                margin: 1rem 0;
                color: $white;
            }

            .servicesMainPageCardText {
                font-size: 1rem;
                margin-bottom: 1rem;
                color: $white;
            }

            .servicesMainPageCardButton {
                background-color: $highlight-color;
                color: $white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

.galerieMainPage {
    position: relative;
    height: 500px;
    overflow: hidden;
    border-top: 5px solid $secondary-color;
    border-bottom: 5px solid $secondary-color;

    .galerieMainPageImage {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Empêche la déformation de l'image */
    }

    .galerieMainPageTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Amélioration de la lisibilité */
        font-size: 2.5rem;
        text-align: center;
        z-index: 1; /* Place le texte au-dessus de l'image */
    }
}