@use '../../styles/index' as *;

.descriptionAboutPage {
    padding: 5rem; /* Augmenter la marge en haut */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;

    .descriptionAboutPageContainerText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 40%;
        margin-right: 10rem;

        .descriptionAboutPageTitle {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: $primary-color;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-family: $secondary-font;
        }

        .descriptionAboutPageText {
            font-size: 1.4rem;
            line-height: 1.8;
            color: $black;
            margin-bottom: 2rem;
        }
    }

    .descriptionAboutPageImage {
        width: 30%;
        height: 600px; /* Fixe la hauteur de l'image */
        object-fit: cover;
    }
}

.equipeAboutPage {
    padding: 2rem;
    text-align: center;

    .equipeAboutPageTitle {
        font-size: 2.5rem;
        margin-bottom: rem;
        color: $primary-color;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: $secondary-font;
    }

    .equipeAboutPageTitleText {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $black;
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        margin-bottom: 4rem;
    }

    .equipeAboutPageCard {
        display: flex;
        align-items: center;
        margin: 1rem auto; /* Centrer les cartes sur la page */
        text-align: left;
        justify-content: center;        
        box-sizing: border-box;
        margin-bottom: 5rem;

        .equipeAboutPageImage {
            width: 400px;
            height: 550px; /* Ajuster la hauteur de l'image */
            object-fit: cover;
            margin-right: 1rem;
        }

        .equipeAboutPageContainerText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 30%;
            color: $black;
            padding: 2rem;

            .equipeAboutPageTitle{
                margin-bottom: 2rem;
            }
        }

        .equipeAboutPageText {
            font-size: $tertiary-font-size;
            color: $black;
            line-height: 1.2;
        }
    }
}

.valeursAboutPage {
    padding: 2rem;
    text-align: center;
    margin-bottom: 3rem;

    .valeursAboutPageTitle {
        font-size: $primary-font-size;
        margin-bottom: 2rem;
        color: $primary-color;
        font-weight: 700;
        letter-spacing: 0.1rem;
        font-family: $secondary-font;
        text-transform: uppercase;
    }

    .valeursAboutPageCard {
        display: inline-block;
        margin: 1rem;
        text-align: center;
        width: calc(33.333% - 2rem); /* Trois cartes par ligne */
        box-sizing: border-box;

        .valeursAboutPageCardImage {
            width: 120px; /* Agrandir légèrement l'image */
            height: 120px;
            object-fit: cover;
            margin-bottom: 0.5rem;
        }

        .valeursAboutPageCardTitle {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            font-style: italic;
            color: $primary-color;
            border-bottom: 1px solid $highlight-color;
            padding: 0.5rem;
        }

        .valeursAboutPageCardText {
            font-size: 1.2rem;
            color: $black;
        }
    }
}

.temoignagesAboutPage {
    padding: 4rem;
    background-color: $secondary-color; /* Ajouter un fond */
    text-align: center;

    .temoignagesAboutPageTitle {
        font-size: $primary-font-size;
        margin-bottom: 4rem;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: $secondary-font;
    }

    .temoignagesAboutPageCards{
        display: flex;
    }

    .temoignagesAboutPageCard {
        padding: 2rem;

        .temoignagesAboutPageCardText {
            font-size: 1.3rem;
            font-weight: bold;
            border-bottom: 1px solid $highlight-color;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        .temoignagesAboutPageCardAuthor {
            font-size: $quaternary-font-size;
        }
    }
}

.faqAboutPage {
    padding: 4rem;
    background-color: $primary-color;
    text-align: center;

    .faqAboutPageTitle {
        font-size: $primary-font-size;
        margin-bottom: 1rem;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: $secondary-font;
    }

    .faqAboutPageTitleContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 5rem;

        .faqBarre{
            width: 200px;
            height: 1px;
            background-color: $highlight-color;
            margin-left: 1rem;
        }

        .faqAboutPageCard {
            background-color: $primary-color; /* Ajouter un fond */
            padding: 1rem;
            text-align: left;

            .faqAboutPageCardTitle {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                font-family: $secondary-font;
            }
            
            .faqAboutPageCardText {
                font-style: italic;
                font-size: 1.2rem;
            }
        }
    }
}