@use '../../styles/index' as *;

header {
    display: flex;
    justify-content:space-between;
    padding: 1rem 2rem;
    background-color: $primary-color;
    color: $black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}