@use '../../styles/index' as *;

.galeriePage {
    padding: 6rem;
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Utiliser CSS Grid pour créer un quadrillage */
    gap: 1rem; /* Espacement entre les images */
    justify-content: center;
}