@use '../../styles/index' as *;

.footer {
    color: $black;
    padding: 2rem 1rem;
    text-align: center;

    .footerContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;

        .footerSection {
            flex: 1 1 300px;
            margin: 1rem;

            .footerTitle {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: $black;
            }

            .footerText {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                color: $black;
            }

            .footerSocialLinks {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                a {
                    color: $black;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: darken($black, 20%);
                    }
                }
            }
        }
    }

    .footerBottom {
        border-top: 1px solid $secondary-color;
        padding-top: 1rem;

        .footerBottomText {
            font-size: 0.9rem;
            color: $black;
        }
    }
}